<div class="single_post_content">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li *ngIf="displayFlag == 4"><a>Search ({{infiniteScrollCount}})</a></li>
      <li *ngIf="category != null" [ngClass]="{'active': subcategory === null}"><a href="/articles/{{category | lowercase}}">{{parseString(category) | titlecase}} <span *ngIf="displayFlag == 1">({{infiniteScrollCount}})</span></a> </li>
      <li *ngIf="subcategory != null" [ngClass]="{'active': subcategory !== null}"><a href="/articles/{{category | lowercase}}/{{subcategory | lowercase}}">{{parseString(subcategory) | titlecase}} <span *ngIf="displayFlag == 2">({{infiniteScrollCount}})</span></a></li>
    </ol>

    <div class="banner-ads">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- banner -->
      <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-7980807581572343"
            data-ad-slot="3594313664"
            data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
    <div *ngIf="displayFlag == 4">
      <ul class="article-list" *ngIf="articeBySearch != ''" [innerHTML]="articeBySearch"></ul>
      <div class="loadmore">
        <a *ngIf="articeBySearch != ''" class="btn btn-theme" id="get-more" (click)="getMore()">{{more}}</a>
      </div>
      <div id="search-err" class="left_content hide">
        <div class="error_page">
          <h3>We Are Sorry</h3>
          <h2>Your search did not match any article :(</h2>
          <p>Please try searching something else</p>
          <span></span> <a href="/" class="wow fadeInLeftBig">Go to home page</a> </div>
      </div>
    </div>

    <div *ngIf="displayFlag == 1">
      <ul class="article-list" *ngIf="articeByCategory != ''" [innerHTML]="articeByCategory"></ul>
      <div class="loadmore">
        <a *ngIf="articeByCategory != ''" class="btn btn-theme" id="get-more" (click)="getMore()">{{more}}</a>
      </div>
      <div *ngIf="articeByCategory == ''">
        <div class="left_content">
          <div class="error_page">
            <h3>We Are Sorry</h3>
            <h2>No Content Available :(</h2>
            <p>We are adding new contents. Please check after some time.</p>
            <span></span> <a href="/" class="wow fadeInLeftBig">Go to home page</a> </div>
        </div>
      </div>
    </div>

    <div *ngIf="displayFlag == 2">
      <ul class="article-list" *ngIf="articeBySubCategory != ''" [innerHTML]="articeBySubCategory"></ul>
      <div class="loadmore">
          <a *ngIf="articeBySubCategory != ''" class="btn btn-theme" id="get-more" (click)="getMore()">{{more}}</a>
        </div>
      <div *ngIf="articeBySubCategory == ''">
        <div class="left_content">
          <div class="error_page">
            <h3>We Are Sorry</h3>
            <h2>No Content Available :(</h2>
            <p>We are adding new contents. Please check after some time.</p>
            <span></span> <a href="/" class="wow fadeInLeftBig">Go to home page</a> </div>
        </div>
      </div>
    </div>
</div>

