.banner-image{
    width: 100%;
    border: 1px solid #efefef;
    padding: 5px;
}

iframe{max-width: 400px !important;}

.article-list li {
    margin-bottom: 20px;
}
.loadmore{
    text-align: center;
}

img {
    max-width: 100% !important;
}

.media-left > img {
    height: 70px !important;
    width: 90px !important;
    max-width: 90px !important;
}
