.single_post_content{
    min-height: 350px;
}

.single_post_content{
    min-height: 350px;
}

.fashion_technology_area{
    min-height: 650px;
}

.p-single{
    height: 40px;
    font-size: 13px;
    overflow: hidden;
    margin-bottom: 0px;
}
.rm-more{
    font-size: 12px;
}