#searchbox-main {
  width: 10px !important;
  box-sizing: border-box;
  border: 0px !important;
  border-radius: 4px !important;
  background-color: white;
  float: right;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
  margin: 9px 0px;
  height: 40px;
  font-size: 16px !important;
  box-shadow: none;
  cursor: pointer;
}

#searchbox-main-sm{
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px !important;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin: 9px 10px;
    height: 40px;
    font-size: 16px !important;
    width:95% !important;
}

#searchbox-main:focus {
    width: 100% !important;
    border:1px solid #efefef !important;
}

.inner-addon {
    position: relative;
  }
  
  /* style glyph */
  .inner-addon .glyphicon {
    position: absolute;
    padding: 23px 10px;
    pointer-events: none;
    color: #555555;
  }
  
  /* align glyph */
  .right-addon .glyphicon { right: 0px;}
  
  /* add padding  */
  .right-addon input { padding-right: 30px; }

  .inner-addon-sm {
    position: relative;
  }
  .inner-addon-sm .glyphicon {
    position: absolute;
    padding: 13px 30px;
    pointer-events: none;
    color: #555555;
  }
  .web-ads{
    height:100px;
  }