<!--Header Section -->
<header id="header">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="header_bottom">
                <div class="logo_area">
                    <a href="/" class="logo">
                        <img src="https://res.cloudinary.com/doivakz2v/image/upload/c_fill,h_56,q_10,w_138/v1527268428/behindstories-app/logo.png" alt="BehindStories">
                    </a>
                </div>
                <div *ngIf="isBrowser" class="add_banner">
                    <form method="GET" action="/articles/search" (submit)="submit()">
                        <div class="inner-addon right-addon">
                            <i class="glyphicon glyphicon-search"></i>
                            <input name="q" id="searchbox-main" type="text" class="form-control" placeholder="Search.." />
                            <button type="submit" style="display:none">hidden submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Alert Section -->
            <alert></alert>
        </div>
    </div>
</header>

<!--Nav Section -->
<section id="navArea">
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul *ngIf="menuMap.size != 0" class="nav navbar-nav main_nav">
                <li class="hidden-lg hidden-md">
                    <div *ngIf="isBrowser">
                        <form method="GET" action="/articles/search" (submit)="submit()">
                            <div class="inner-addon-sm right-addon">
                                <i class="glyphicon glyphicon-search"></i>
                                <input name="q" id="searchbox-main-sm" type="text" class="form-control" placeholder="Search.." />
                                <button type="submit" style="display:none">hidden submit</button>
                            </div>
                        </form>
                    </div>
                </li>
                <li>
                    <a href="/">
                        <span class="fa fa-home desktop-home"></span>
                        <span class="mobile-show">Home</span>
                    </a>
                </li>
                <li *ngFor="let item of menuMap.keys()" class="dropdown">
                    <a href="/articles/{{item | lowercase}}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{item}}
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li *ngFor="let val of menuMap.get(item).values()">
                            <a href="/articles/{{item | lowercase}}/{{val | lowercase}}">{{parseString(val) | titlecase }}</a>
                        </li>
                    </ul>
                </li>
                <li class="hidden-lg hidden-md">
                    <a href="/contactus">
                        <span class="glyphicon glyphicon-envelope"></span> Contact Us</a>
                </li>
                <li *ngIf="!showMenu" class="hidden-lg hidden-md">
                    <a href="/register">
                        <span class="glyphicon glyphicon-user"></span> Register</a>
                </li>
                <li *ngIf="!showMenu" class="hidden-lg hidden-md">
                    <a href="/login">
                        <span class="glyphicon glyphicon-log-in"></span> Login</a>
                </li>
                <li *ngIf="showMenu" class="hidden-lg hidden-md dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="glyphicon glyphicon-user"></span> {{currentUser.fname}}
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li *ngIf="admin==true">
                            <a href="/user-level">Manage User Level</a>
                        </li>
                        <li *ngIf="admin==true">
                            <a href="/category">Manage Categories</a>
                        </li>
                        <li *ngIf="admin==true">
                            <a href="/subcategory">Manage Sub Categories</a>
                        </li>
                        <li>
                            <a href="/profile">
                                <span class="glyphicon glyphicon-user"></span> My Profile</a>
                        </li>
                        <li>
                            <a href="/editor">
                                <span class="glyphicon glyphicon-edit"></span> Write Article</a>
                        </li>
                        <li (click)="logout()">
                            <a href="#">
                                <span class="glyphicon glyphicon-log-out"></span> Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav main_nav pull-right hidden-xs hidden-sm">
                <li>
                    <a href="/contactus">
                        <span class="glyphicon glyphicon-envelope"></span> Contact Us</a>
                </li>
                <li *ngIf="!showMenu">
                    <a href="/register">
                        <span class="glyphicon glyphicon-user"></span> Register</a>
                </li>
                <li *ngIf="!showMenu">
                    <a href="/login">
                        <span class="glyphicon glyphicon-log-in"></span> Login</a>
                </li>
                <li *ngIf="showMenu" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="glyphicon glyphicon-user"></span> {{currentUser.fname}}
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li *ngIf="admin==true">
                            <a href="/user-level">Manage User Level</a>
                        </li>
                        <li *ngIf="admin==true">
                            <a href="/category">Manage Categories</a>
                        </li>
                        <li *ngIf="admin==true">
                            <a href="/subcategory">Manage Sub Categories</a>
                        </li>
                        <li>
                            <a href="/profile">
                                <span class="glyphicon glyphicon-user"></span> My Profile</a>
                        </li>
                        <li *ngIf="admin==true || author==true">
                            <a href="/editor">
                                <span class="glyphicon glyphicon-edit"></span> Write Article</a>
                        </li>
                        <li (click)="logout()">
                            <a href="#">
                                <span class="glyphicon glyphicon-log-out"></span> Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</section>

<!--Latest News Section -->
<section id="newsSection" style="display:none">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="latest_newsarea">
                <span>Latest News</span>
                <ul id="ticker01" class="news_sticker">
                    <li *ngFor="let item of latestNews">
                        <a href="/articles/{{item.category.name | lowercase}}/{{item.sub_category.name | lowercase}}/{{item.uid}}">
                            <img src="{{item.images.thumbnail}}" alt="">{{item.subject}}</a>
                    </li>
                </ul>
                <div class="social_area">
                    <ul class="social_nav">
                        <li class="facebook">
                            <a href="https://www.facebook.com/behindstories.social"></a>
                        </li>
                        <li class="twitter">
                            <a href="https://twitter.com/BehindStories"></a>
                        </li>
                        <!--li class="flickr">
                            <a href="#"></a>
                        </li>
                        <li class="pinterest">
                            <a href="#"></a>
                        </li-->
                        <li class="googleplus">
                            <a href="https://plus.google.com/109947758278354426256"></a>
                        </li>
                        <!--li class="vimeo">
                            <a href="#"></a>
                        </li-->
                        <li class="youtube">
                            <a href="https://www.youtube.com/channel/UCw2FGtXCiXNvv9-j1f59nsg"></a>
                        </li>
                        <li class="mail">
                            <a href="mailto:admin@behindstories.com"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- content container -->
<section id="contentSection">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="left_content">
                <router-outlet></router-outlet>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <aside class="right_content">
                <div class="single_sidebar">
                    <h2>
                        <span>Popular Post</span>
                    </h2>
                    <ul class="spost_nav">
                        <li *ngFor="let item of popularArticleList">
                            <div class="media wow fadeInDown">
                                <a class="media-left" href="/articles/{{item.category.name | lowercase}}/{{item.sub_category.name | lowercase}}/{{item.uid}}">
                                    <img src="{{item.images.thumbnail}}" alt="{{item.subject}}">
                                </a>
                                <div class="media-body">
                                    <a class="catg_title" href="/articles/{{item.category.name | lowercase}}/{{item.sub_category.name | lowercase}}/{{item.uid}}">
                                        <h5>{{item.subject}}</h5>
                                    </a>
                                </div>
                                <div class="p-single-2">{{item.overview}}</div>
                                <a class="rm-more" href="/articles/{{item.category.name | lowercase}}/{{item.sub_category.name | lowercase}}/{{item.uid}}">
                                    read more..
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="single_sidebar">
                    <h2>
                        <span>Browse By Category</span>
                    </h2>
                    <div>
                        <ul>
                            <li *ngFor="let item of menuMap.keys()" class="cat-item">
                                <a href="/articles/{{item | lowercase}}">{{item}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="single_sidebar">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- web-ads -->
                    <ins class="adsbygoogle"
                        style="display:block"
                        data-ad-client="ca-pub-7980807581572343"
                        data-ad-slot="3935594010"
                        data-ad-format="auto"></ins>
                    <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </aside>
        </div>
    </div>
</section>

<!--Footer Section -->
<footer id="footer">
    <div class="footer_bottom">
        <p class="copyright">Copyright &copy; 2018
            <a href="/">BehindStories</a>
        </p>
    </div>
</footer>